<div class="body">
    <div class="container">
        <div class="row justify-content-center pt-5 pb-5 mr-1 ">
            <div class="col-md-4 formulario">
                <form #formLogin="ngForm" (submit)="login()">
                    <div class="form-group text-center pt-3">
                        <h1 class="text-light">INICIAR SESIÓN</h1>
                    </div>
                    <div class="form-group mx-sm-4 pt-3">
                        <input type="text" class="form-control" placeholder="Email" name="email"  [(ngModel)]="email">
                    </div>
                    <div class="form-group mx-sm-4 pb-3">
                        <input type="password" class="form-control" placeholder="Password"  name="password" [(ngModel)]="password">
                    </div>
                    <div class="form-group mx-sm-4 pb-2">
                        <input type="submit" class="btn btn-block ingresar" value="INGRESAR">
                    </div>
                </form>
                    <div class="form-group mx-sm-4 pb-2">
                        <input type="submit" class="btn btn-block crear cuenta" routerLink="/cuenta"value="CREAR CUENTA">
                    </div>
                    <div class="form-group mx-sm-4 items">
                        <button (click)="authService.loginWithFacebook()"><i class="fab fa-facebook-f"></i></button>
                        <button (click)="authService.loginWithTwitter()"><i class="fab fa-twitter-square"></i></button>
                        <button (click)="authService.loginWithGoogle()"><i class="fab fa-google-plus"></i></button>
                    </div>
            </div>
        </div>
    </div>
</div>