<div>
    <app-navbar></app-navbar>
    <h1 class="titulo"> Las favoritas de nuestra comunidad</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm" *ngFor="let m of meals">
                <div class="card">
                    <img src="{{m.strMealThumb}}" alt="" class="card-image">
                    <div class="card-text">
                        <span class="date">4 days ago</span>
                        <h2>{{m.strMeal}}</h2>
                        <br>
                        <button [routerLink]="['/receta', m.idMeal]">Ver receta</button>
                        <br>
                        <button (click)="subir(m.strMeal,m.strCategory,[m.strIngredient1 + ' '+ '' + m.strMeasure1, m.strIngredient2 + ' '+ '' + m.strMeasure2, m.strIngredient3 + ' '+ '' + m.strMeasure3
                        , m.strIngredient4 + ' '+ '' + m.strMeasure4, m.strIngredient5 + ' '+ '' + m.strMeasure5, m.strIngredient6 + ' '+ '' + m.strMeasure6, m.strIngredient7 + ' '+ '' + m.strMeasure7, m.strIngredient8 + ' '+ '' + m.strMeasure8, m.strIngredient9 + ' '+ '' + m.strMeasure9
                        , m.strIngredient10 + ' '+ '' + m.strMeasure10, m.strIngredient11 + ' '+ '' + m.strMeasure11, m.strIngredient12 + ' '+ '' + m.strMeasure12, m.strIngredient13 + ' '+ '' + m.strMeasure13, m.strIngredient14 + ' '+ '' + m.strMeasure14, m.strIngredient15 + ' '+ '' + m.strMeasure15
                        , m.strIngredient16 + ' '+ '' + m.strMeasure16, m.strIngredient17 + ' '+ '' + m.strMeasure17, m.strIngredient18 + ' '+ '' + m.strMeasure18, m.strIngredient19 + ' '+ '' + m.strMeasure19, m.strIngredient20 + ' '+ '' + m.strMeasure20],m.idMeal,m.strInstructions,m.strMealThumb)">Agregar receta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>