<div class="pad"></div>
<div class="card mb-3">
  <div class="row">
    <div class="card-body">
    <form #f="ngForm">
    <div class="col-md-12">
      <div class="row">
    <img *ngIf="recipe" class="card-img-top img-fluid col-md-6" src="{{recipe.img}}" alt="Recipe">
    <div class="col-md-6 ">
      <div class="row">
        <div class="col-md-12">
          <h4 class="card-title">Tittle</h4>
          <input *ngIf="recipe" type="text" id="titulo" name="titulo" [(ngModel)]="recipe.titulo" #titulo="ngModel" class="form-control">
        </div>
        <div class="col-md-12">
          <h4 class="card-title">Image URL</h4>
          <input *ngIf="recipe" type="text" id="imagen" name="imagen" [(ngModel)]="recipe.img" #imagen="ngModel" class="form-control">
        </div>
        <div class="col-md-12">
          <h4 class="card-title">Categoria</h4>
          <input *ngIf="recipe" type="text" id="categoria" name="categoria" [(ngModel)]="recipe.categoria" #categoria="ngModel" class="form-control">
        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h4>Ingredients</h4>
          <h5>It's not necessary use all the inputs</h5>
          <div *ngFor="let ingrediente of ingredientes; index as i">
            <div *ngIf='ingrediente!=" "'>
            <label for="label">Ingredient</label>
            <input *ngIf="recipe" name="ingredientes{{i}}" [(ngModel)]="recipe.ingredientes[i]" type="text" class="form-control mt-2">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Instructions</h4>
          <div >
            <textarea id="pasos" *ngIf="recipe" class="form-control col-md-12" style="width: 450px; height: 450px;">{{recipe.pasos}}</textarea>
          </div>
        </div>
      </div>
      <input *ngIf="recipe" type="text" id="id" name="id" [(ngModel)]="recipe.id" #id="ngModel" class="form-control mt-2" value="{{recipe.id}}" hidden>
      <button class="btn btn-success mt-2" type="submit" (click)="editar(recipe.titulo,recipe.img,recipe.categoria,recipe.ingredientes,pasos,recipe.id)">Edit recipe</button>
    </div>
    </form>
  </div>
  </div>