<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm" *ngFor="let m of data">
            <div class="card">
                <img src="{{m.img}}" alt="" class="card-image">
                <div class="card-text">
                    <span class="date">4 days ago</span>
                    <h2>{{m.titulo}}</h2>
                    <br>
                    <button routerLink="/main/recetas">Ver receta</button>
                    <br>
                    <button>Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>